In [9]:
import pandas as pd

In [10]:
def correct_spelling(x):
    if "Ã¶" in x:
        x = x.replace("Ã¶", "ö")
    if "Ã–" in x:
        x = x.replace("Ã–", "Ö")
    if "Ã¥" in x:
        x = x.replace("Ã¥", "å")
    if "Ã¤" in x:
        x = x.replace("Ã¤", "ä")
    if "Ã" in x:
        x.replace("Ã", "Ä")
    return x

In [3]:
df_gbg = pd.read_csv("info_gbg.csv")

In [4]:
df_gbg["Namn"] = df_gbg["Namn"].apply(lambda x: correct_spelling(x))

In [5]:
df_gbg

                           Namn       Org NR
0             12B Consulting AB  559384-8160
1     2mnordic It Consulting AB  556593-8973
2           3bits Consulting AB  556748-3069
3    4 Retail Sweden Aktiebolag  556480-3715
4                        8PI AB  559089-4969
..                          ...          ...
694         Zitac Consulting AB  556638-7139
695              Zitac Malmö AB  559149-5287
696          Zitac Solutions AB  559152-7170
697         Zool Engineering AB  559090-6847
698             Zool Systems AB  559348-7308

[699 rows x 2 columns]

In [6]:
df_sth = pd.read_csv("info_sth.csv")

In [7]:
df_sth["Namn"] = df_sth["Namn"].apply(lambda x: correct_spelling(x))

In [8]:
df_sth

                                            Namn       Org NR
0                                       Carla AB  559277-3492
1                             Utopia R&D Tech AB  556639-4010
2                                  Xbp Europe AB  556455-0373
3                           Norstedts Juridik AB  556226-6097
4                                      Crayon AB  556635-9799
...                                          ...          ...
1915                            Vmlapp Sweden AB  559177-9144
1916                                  Vvenues AB  559318-7031
1917                         Warpzone Studios AB  559071-1346
1918  Webbfabriken Web And Security Solutions AB  559274-4816
1919                                Wennostra AB  559104-1206

[1920 rows x 2 columns]